**/out
**/javacc-6.0
**/visitor
**/syntaxtree

**/.DS_Store

**/.idea
*.iml
*.class

**/__pycache__

*.pyc
**/jtb.out.jj
**/src/src/JavaCharStream.java
**/src/src/MiniJavaParser.java
**/src/src/MiniJavaParserConstants.java
**/src/src/MiniJavaParserTokenManager.java
**/src/src/ParseException.java
**/src/src/Token.java
**/src/src/TokenMgrError.java
**/src/src/jtb.out.jj
**/src/src/tmp.vapor
